<form [formGroup]="reactiveForm">
  <ng-container *ngFor="let controls of jsonFormData">
    <mat-form-field
      *ngIf="controls.type === 'text' && isFormFieldVisible(controls)"
    >
      <mat-label>{{ controls.label }}</mat-label>
      <input
        matInput
        [type]="controls.type"
        [formControlName]="controls.field"
        [placeholder]="controls.label"
      />
    </mat-form-field>
    <mat-checkbox
      labelPosition="before"
      *ngIf="controls.type === 'check' && isFormFieldVisible(controls)"
      [formControlName]="controls.field"
      >{{ controls.label }}</mat-checkbox
    >
    <br />
  </ng-container>
  <br />
  <button type="submit" (click)="onSubmit()" [disabled]="!reactiveForm.valid">
    Submit
  </button>
</form>
